Pictures of boxes
Description of those boxes
Strain association method
Landing page layout
- welcome, discover unique experience
- options for quiz/signup/explore
Purpose of the site?
- induce curiosity
— sell boxes to customers
—- match users interests
—— use feedback to make it better

Welcome to Hotbox
What am I? I’m an experience waiting to be revealed
Who are you?
Enter
Quiz asking questions
Smoking history
Options of various getting high methods
Activity level
Income?
Free time
What do you want from weed

Use pictures of multiple choice to give a certain value in the end that will be associated with certain boxes.
Make quick and lazy options lower values
Long and active options higher values

Link first newsletter breaking down