@font-face {
    font-family: clouds;
    src: url('../fonts/alphasmoke/Alphasmoke-OOX6.ttf')
}

body {
    background-image: url("./components/subcomponent/blob.svg");
    background-size: 60%;
    background-repeat: repeat-y;
    background-position-x: right;
}